<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
    <title>Errore</title>
</head>
<body class="fw-bold p-5">
    <h1 class="text-center text-danger">Errore</h1>
    <p class="text-center text-danger">Non sei autorizzato ad accedere a questa pagina!</p>
    <a class="nav-link active pb-5 pt-3 ps-2" th:href="@{/photo}">Torna alla lista!</a>
</body>
</html>
